<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="model.ExLocation" alias="exlocation" />
		<typeAlias type="model.ExList" alias="exlist" />
		<typeAlias type="model.Member" alias="member" />
		<typeAlias type="model.Workbook" alias="workbook"/>

	</typeAliases>
	

	<mappers><!-- sql구문 -->
		<mapper resource="mybatis/LocationScheduleMapper.xml" />
		<mapper resource="mybatis/MemberMapper.xml" />
		<mapper resource="mybatis/Workbook.xml"/>

	</mappers>
</configuration>

