<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="model.ExLocation" alias="exlocation" />
		<typeAlias type="model.ExLocation" alias="exlocation" />
		

	</typeAliases>

	<mappers><!-- sql구문 -->
		<mapper resource="mybatis/LocationScheduleMapper.xml" />
		

	</mappers>
</configuration>