<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workbook">

	<insert id="addworkbook" parameterType="workbook">
		insert into workbook
		values
		(#{userId}, wbseq.nextval, #{wbJmcd}, #{wbTittle},
		#{wbAnswer},
		sysdate,0,0,#{wbItem1},#{wbItem2},#{wbItem3},#{wbItem4})
	</insert>
	
	<delete id="deleteworkbook" parameterType="string">
		delete from workbook where wbNum = #{value}
	</delete>

	<select id="selectwblist" parameterType="string"
		resultType="workbook">
		select * from workbook w, jgjuser j, exlist e where wbJmcd = #{value} and w.userid= j.userid and w.wbjmcd = e.jmcd
		 order by
		wbdate desc
	</select>
	
	<select id="selectmywblist" parameterType="string"
		resultType="workbook">
		select * from workbook w, jgjuser j, exlist e where w.userId = #{value} and w.userid= j.userid and w.wbjmcd = e.jmcd
		 order by
		wbdate desc
	</select>
	
	

	<select id="selectwbone" parameterType="string"
		resultType="workbook">
		select * from workbook w, jgjuser j where wbNum = #{value} and w.userid = j.userid
	</select>

	<!-- 게시글 조회수 업 -->
	<update id="readcountup" parameterType="string">
		update workbook set
		readcnt = readcnt + 1 where wbnum = #{value}
	</update>

	<!-- 게시글 추천 수 업 -->
	<update id="updateLike" parameterType="int">
		update workbook set
		recocnt = recocnt+1 where wbnum = #{value}
	</update>

	<!-- 게시글 추천 취소 -->
	<update id="updateLikeCancel" parameterType="int">
		update workbook set
		recocnt = recocnt-1 where wbnum = #{value}
	</update>

	<!-- 게시글 추천 시 boardlike 테이블에 insert -->
	<insert id="insertLike">
		insert into boardlike(LIKENO , wbnum , userid)
		values((SELECT NVL(MAX(likeno), 0) + 1 FROM boardlike) ,#{wbNum}
		,#{userId})
	</insert>

	<!-- 게시글 추천취소 시 delete -->
	<delete id="deleteLike">
		delete from boardlike where wbNum = #{wbNum} and
		userId = #{userId}
	</delete>

	<!-- 게시글 추천 시 Check를 1로 만들어서 중복방지 -->
	<update id="updateLikeCheck">
		update boardlike set LIKECHECK = 1
		where wbNum =
		#{wbNum} and userId = #{userId}
	</update>

	<!-- 게시글 추천취소 시 다시 0 -->
	<update id="updateLikeCheckCancel">
		update boardlike set LIKECHECK = 0
		where wbNum =
		#{wbNum} and userId = #{userId}
	</update>

	<!-- 게시글 추천 중복방지 select문 -->
	<select id="likeCheck" resultType="int" parameterType="map">
		select
		count(*) from boardlike where wbNum = #{wbNum} and userId = #{userId}
	</select>
	
	<!-- 게시글 추천 수 -->
	<select id="countlike" resultType="int" parameterType="string">
		select
		recocnt from workbook where wbNum = #{value}
	</select>

	<!-- 댓글 추가 -->
	<insert id="addreply" parameterType="wbreply">
		insert into wbreply
		values
		(#{wbNum}, #{userId}, #{reText}, sysdate, replyseq.nextval)
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="deletereply" parameterType="string">
		delete from wbreply where replyNum = #{value}
	</delete>

	<!-- 댓글 가져오기 -->
	<select id="replylist" resultType="wbreply"
		parameterType="string">
		select * from wbreply w, jgjuser j where wbnum = #{value} and w.userid= j.userid order by redate
	</select>

	<!-- 댓글 수 -->
	<select id="countreply" resultType="int" parameterType="string">
		select
		count(*) from wbreply where wbNum = #{value}
	</select>



</mapper>