@charset "UTF-8";
#wrap {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 60px;
 max-width: 100%;
}

.good,
.viewer {
 position: relative;
 padding: 0 20px 0 0;
 font-weight: bold;
 left: 3%;
}
